# Getting data

We will get data about yellow taxi trips in New York.

Datasets can be downloaded from:
- yellow taxi 2018: [yellow taxi 2018](https://data.cityofnewyork.us/Transportation/2018-Yellow-Taxi-Trip-Data/t29m-gskq)
- yellow taxi 2019: [yellow taxi 2019](https://data.cityofnewyork.us/Transportation/2019-Yellow-Taxi-Trip-Data/2upf-qytp)

As datasets are large we will get them in chunks: 1.000.000 rows each. We will use [``sodapy``](https://pypi.org/project/sodapy/) package.

In [1]:
import pandas as pd
from sodapy import Socrata
import time
import os

### Setting variables

Instructions about getting data can be found [here](https://dev.socrata.com/foundry/data.cityofnewyork.us/t29m-gskq).

First, one should create a TOKEN (described in the page above).

In [2]:
TOKEN = '<YOUR TOKEN>'
DOMAIN = 'data.cityofnewyork.us'
TIMEOUT = 3600*3 # query timeout in seconds

In [4]:
# We have to get two datasets. 
# DATASET is a name of dataset and custom_name is how dataset will be named in temporary directory.

# DATASET = 't29m-gskq'; custom_name = 'yellow_taxi_2018'
DATASET = '2upf-qytp'; custom_name = 'yellow_taxi_2019'

In [5]:
TMP_PATH = 'data_tmp' # temporary path for data - for this directory bunches of data will be downloaded.
PATH = 'data' # final path for data

### Creating ``Socrata`` client

First, we have to create `socrata` client.

In [6]:
client = Socrata(DOMAIN, TOKEN, timeout=TIMEOUT)

### Dataset size

We can check dataset size (number of rows).

In [19]:
query = """
select count(*)
"""

row_number = client.get(DATASET, query = query)

In [20]:
row_number = int(row_number[0]['count'])
row_number

84399019

### Getting a data

First let's create some auxiliary functions.

In [21]:
def time_duration(t0, t1):
    """ Function for measuring time ellapsed between t0 and t1 """
    return round((t1-t0)/60, 2)



def get_data(client, dataset, offset, limit, order='tpep_pickup_datetime'):
    """ Function for getting data """
    return client.get(dataset, offset=offset, limit=limit, order='tpep_pickup_datetime')

Now we will get data in chunks and save in temporary directory.

In [22]:
# Initial offset and limit
offset=0
limit=int(1e6)

In [25]:
# Do untile offset is greater than number of rows
T0 = time.time()
while True:
    try:
        t0 = time.time()
        tmp = get_data(client, DATASET, offset, limit)
        results_df = pd.DataFrame.from_records(tmp)
        results_df.to_csv(f'{TMP_PATH}/{custom_name}_{offset}.csv', index=False)
        t1 = time.time()
        print(f'offset: {offset} in {time_duration(t0, t1)} min.')
        print(f'Total time ellapsed: {time_duration(T0, t1)} min.')
    except Exception as ex:
        print("Exception! \n{0}".format(ex))

    offset += limit
    if offset > row_number:
        break

offset: 0 in 17.42 min.
Total time ellapsed: 17.42 min.
Exception!
Expecting value: line 836315 column 2 (char 336576582)
offset: 2000000 in 11.9 min.
Total time ellapsed: 40.6 min.
offset: 3000000 in 10.12 min.
Total time ellapsed: 50.72 min.
offset: 4000000 in 8.32 min.
Total time ellapsed: 59.04 min.
offset: 5000000 in 7.05 min.
Total time ellapsed: 66.09 min.
offset: 6000000 in 6.0 min.
Total time ellapsed: 72.09 min.
offset: 7000000 in 5.87 min.
Total time ellapsed: 77.96 min.
offset: 8000000 in 5.06 min.
Total time ellapsed: 83.03 min.
offset: 9000000 in 5.2 min.
Total time ellapsed: 88.23 min.
offset: 10000000 in 3.44 min.
Total time ellapsed: 91.67 min.
offset: 11000000 in 3.21 min.
Total time ellapsed: 94.88 min.
offset: 12000000 in 2.91 min.
Total time ellapsed: 97.79 min.
offset: 13000000 in 2.88 min.
Total time ellapsed: 100.68 min.
offset: 14000000 in 2.75 min.
Total time ellapsed: 103.43 min.
offset: 15000000 in 2.15 min.
Total time ellapsed: 105.58 min.
offset: 16000000 in 2.06 min.
Total time ellapsed: 107.64 min.
offset: 17000000 in 2.25 min.
Total time ellapsed: 109.89 min.
offset: 18000000 in 1.95 min.
Total time ellapsed: 111.84 min.
offset: 19000000 in 2.17 min.
Total time ellapsed: 114.01 min.
offset: 20000000 in 1.96 min.
Total time ellapsed: 115.97 min.
offset: 21000000 in 1.87 min.
Total time ellapsed: 117.85 min.
offset: 22000000 in 1.5 min.
Total time ellapsed: 119.34 min.
offset: 23000000 in 1.63 min.
Total time ellapsed: 120.98 min.
offset: 24000000 in 1.34 min.
Total time ellapsed: 122.32 min.
offset: 25000000 in 1.51 min.
Total time ellapsed: 123.83 min.
offset: 26000000 in 1.45 min.
Total time ellapsed: 125.28 min.
offset: 27000000 in 1.57 min.
Total time ellapsed: 126.85 min.
offset: 28000000 in 2.37 min.
Total time ellapsed: 129.22 min.
offset: 29000000 in 2.28 min.
Total time ellapsed: 131.5 min.
offset: 30000000 in 1.95 min.
Total time ellapsed: 133.45 min.
offset: 31000000 in 2.02 min.
Total time ellapsed: 135.46 min.
offset: 32000000 in 2.56 min.
Total time ellapsed: 138.02 min.
offset: 33000000 in 2.04 min.
Total time ellapsed: 140.06 min.
offset: 34000000 in 2.23 min.
Total time ellapsed: 142.29 min.
offset: 35000000 in 2.08 min.
Total time ellapsed: 144.38 min.
offset: 36000000 in 2.11 min.
Total time ellapsed: 146.49 min.
offset: 37000000 in 2.74 min.
Total time ellapsed: 149.23 min.
offset: 38000000 in 2.24 min.
Total time ellapsed: 151.48 min.
offset: 39000000 in 2.22 min.
Total time ellapsed: 153.7 min.
offset: 40000000 in 1.93 min.
Total time ellapsed: 155.63 min.
offset: 41000000 in 1.84 min.
Total time ellapsed: 157.46 min.
offset: 42000000 in 1.61 min.
Total time ellapsed: 159.07 min.
offset: 43000000 in 1.7 min.
Total time ellapsed: 160.77 min.
offset: 44000000 in 1.49 min.
Total time ellapsed: 162.26 min.
offset: 45000000 in 1.92 min.
Total time ellapsed: 164.18 min.
offset: 46000000 in 1.58 min.
Total time ellapsed: 165.76 min.
offset: 47000000 in 1.64 min.
Total time ellapsed: 167.4 min.
offset: 48000000 in 1.55 min.
Total time ellapsed: 168.95 min.
offset: 49000000 in 1.48 min.
Total time ellapsed: 170.43 min.
offset: 50000000 in 1.51 min.
Total time ellapsed: 171.95 min.
offset: 51000000 in 1.63 min.
Total time ellapsed: 173.57 min.
offset: 52000000 in 1.74 min.
Total time ellapsed: 175.32 min.
offset: 53000000 in 1.49 min.
Total time ellapsed: 176.81 min.
offset: 54000000 in 2.17 min.
Total time ellapsed: 178.98 min.
offset: 55000000 in 1.82 min.
Total time ellapsed: 180.8 min.
offset: 56000000 in 1.69 min.
Total time ellapsed: 182.48 min.
offset: 57000000 in 1.73 min.
Total time ellapsed: 184.22 min.
offset: 58000000 in 1.7 min.
Total time ellapsed: 185.92 min.
offset: 59000000 in 1.61 min.
Total time ellapsed: 187.53 min.
offset: 60000000 in 1.59 min.
Total time ellapsed: 189.12 min.
offset: 61000000 in 1.66 min.
Total time ellapsed: 190.78 min.
offset: 62000000 in 1.61 min.
Total time ellapsed: 192.39 min.
offset: 63000000 in 1.64 min.
Total time ellapsed: 194.02 min.
offset: 64000000 in 1.56 min.
Total time ellapsed: 195.58 min.
offset: 65000000 in 1.84 min.
Total time ellapsed: 197.42 min.
offset: 66000000 in 1.7 min.
Total time ellapsed: 199.13 min.
offset: 67000000 in 1.61 min.
Total time ellapsed: 200.74 min.
offset: 68000000 in 1.66 min.
Total time ellapsed: 202.4 min.
offset: 69000000 in 1.68 min.
Total time ellapsed: 204.08 min.
offset: 70000000 in 1.65 min.
Total time ellapsed: 205.73 min.
offset: 71000000 in 2.13 min.
Total time ellapsed: 207.86 min.
offset: 72000000 in 1.73 min.
Total time ellapsed: 209.59 min.
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable
Exception!
503 Server Error: Service Temporarily Unavailable

Some parts of datates were not loaded. We will not trying to load them again due to time limitations.

## Concat all data and save

Now we can concatenate all datasets.

Due to size of a datasets we will load only 5.000 records from each file.

In [26]:
directory = os.path.join(f'{TMP_PATH}/')

In [28]:
data = pd.DataFrame()
for root,dirs,files in os.walk(directory):
    for file in files:
        tmp = pd.read_csv(root+file, nrows=5000)
        data = pd.concat([data, tmp])

In [29]:
data.reset_index(drop=True, inplace=True)

In [30]:
data.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,2001-01-01T00:01:48.000,2001-01-01T00:15:47.000,1.0,1.35,1.0,N,43,170,2.0,9.0,0.0,0.5,0.0,0.0,0.3,9.8,NaN
1,2.0,2001-01-01T00:01:48.000,2001-01-01T00:15:47.000,1.0,1.35,1.0,N,43,170,2.0,9.0,0.0,0.5,0.0,0.0,0.3,9.8,NaN
2,2.0,2001-01-01T00:02:26.000,2001-01-01T00:04:49.000,1.0,0.36,1.0,N,48,48,2.0,3.5,0.0,0.5,0.0,0.0,0.3,4.3,NaN
3,2.0,2001-01-01T00:02:26.000,2001-01-01T00:04:49.000,1.0,0.36,1.0,N,48,48,2.0,3.5,0.0,0.5,0.0,0.0,0.3,4.3,NaN
4,2.0,2001-01-01T00:05:12.000,2001-01-01T00:09:59.000,1.0,0.62,1.0,N,140,229,2.0,5.0,0.0,0.5,0.0,0.0,0.3,5.8,NaN

In [31]:
len(data)

920000

In [33]:
data.to_csv(f'{PATH}/yelllow_taxi_data.csv', index=False)

In [34]:
# client stop
client.close()